<h1>Stories</h1>

<h4>Import Data<h4>
<%= form_tag import_stories_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Data" %>
<% end %>
<br>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Species</th>
    <th>Gender</th>
    <th>Affiliations</th>
    <th>Weapon</th>
    <th>Vehicle</th>
  </tr>

  <% @stories.each do |story| %>
    <tr>
        <td><%= story.name %></td>
        <td><%= story.location %></td>
        <td><%= story.species %></td>
        <td><%= story.gender %></td>
        <td><%= story.affiliations %></td>
        <td><%= story.weapon %></td>
        <td><%= story.vehicle %></td>
    </tr>
  <% end %>
</table>
